body {
    font-size: 12px;
    font-family: "맑은 고딕", "malgun gothic", sans-serif;
    line-height: 1.3;
    background: #f2f2f2;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-osx-font-smoothing: grayscale;
}
/*body {*/
/*    margin: 0;*/
/*    font-family: var(--bs-body-font-family);*/
/*    font-size: var(--bs-body-font-size);*/
/*    font-weight: var(--bs-body-font-weight);*/
/*    line-height: var(--bs-body-line-height);*/
/*    color: var(--bs-body-color);*/
/*    text-align: var(--bs-body-text-align);*/
/*    background-color: var(--bs-body-bg);*/
/*    -webkit-text-size-adjust: 100%;*/
/*    -webkit-tap-highlight-color: transparent*/
/*}*/
th {
    text-align: inherit;
    text-align: -webkit-match-parent
}
.table > :not(caption) > * > * {
    padding: .5rem .5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg)
}
.table > tbody {
    vertical-align: inherit
}
.table > thead {
    vertical-align: bottom
}
.table > :not(:first-child) {
    border-top: 2px solid currentColor
}
.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6
}
table {
    font-size: 12px;
    caption-side: bottom;
    border-collapse: collapse;
    text-indent: initial;
    border-spacing: 2px;
}
tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0
}
div[data-type="select"]::before {
    content: attr(data-name) " : "
}
div[data-type="product"] {
    attr(data-name) " : "
    /*content: attr(data-name) " : "*/
}
div[data-type="value"]::before {
    content: attr(data-name) " : "
}
div[data-type="object"]::before {
    content: attr(data-name) " { "
}
div[data-type="object"]::after {
    content: " }"
}
div[data-type="array"]::before {
    content: attr(data-name) " [ "
}
div[data-type="array"]::after {
    content: " ]"
}
div[data-type="object"], div[data-type="array"], div[data-type="value"], div[data-type="select"] {
    margin-left: 10px;
}
div[data-type="value"] {
    min-width: 200px;
    width: 100%;
    #border: 0px solid gray;
}
div[data-type="select"] {
    min-width: 200px;
    width: 100%;
    #border: 1px solid gray;
}
div[data-type="main"] {
    display: flex;
}
.removeBox {
    display: flex;
}
.removeItem {
    display: flex;
}
.addBtn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    margin: 1px;
}
.addCodeBtn {
    /*background-color: #6c757d;*/
    border: none;
    color: #474d52;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    margin: 1px;
    padding: 0px 15px 0px 15px;
    border-radius: 3px;
    border: 1px solid #6c757d;
}
.addCodeBtn:hover {
    background-color: #6c757d;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    margin: 1px;
    padding: 0px 15px 0px 15px;
    border-radius: 3px;
    border: 1px solid #6c757d;
}
.removeBtn {
    background-color: #ff5500; /* Red */
    border: none;
    color: white;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    margin: 1px;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.2;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
.btn-group-sm > .btn, .btn-sm {
    padding: .2rem .5rem;
    font-size: .875rem;
    border-radius: .2rem
}
.btn-sm-table {
    float: right;
    margin-left: 2px;
    width: 28px;
    text-align: center;
}
.btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545
}
.btn-outline-danger:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545
}
.btn-outline-warning {
    color: #ffc107;
    border-color: #ffc107
}
.btn-outline-warning:hover {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107
}
.btn-outline-info {
    color: mediumslateblue;
    border-color: mediumslateblue
}
.btn-outline-info:hover {
    color: #fff;
    background-color: mediumslateblue;
    border-color: mediumslateblue
}
.btn-outline-success {
    color: #198754;
    border-color: #198754
}
.btn-outline-success:hover {
    color: #fff;
    background-color: #198754;
    border-color: #198754
}
.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d
}
.btn-outline-secondary:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d
}
.btn-outline-primary {
    color: #0d6efd;
    border-color: #0d6efd
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd
}
.btn-outline-code {
    color: lightseagreen;
    border-color: lightseagreen
}
.btn-outline-code:hover {
    color: #fff;
    background-color: lightseagreen;
    border-color: lightseagreen
}
.btn-dark {
    color: #fff;
    background-color: #212529;
    border-color: #212529
}
.btn-dark:hover {
    color: #fff;
    background-color: #1c1f23;
    border-color: #1a1e21
}
.progress {
    display: flex;
    height: 1rem;
    overflow: visible;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem
}
.progress-bar {
    position: fixed;
    bottom: 0;
    /*top: 0;*/
    /*left: 0;*/
    display: none;
    /*min-height: 100%;*/
    width: 100%;
    height: 13px;
    background-color: #a0c5e8;
    /*background-color: #e9ecef;*/
    background-image: repeating-linear-gradient(
            135deg,
            transparent,
            transparent 5px,
            #4d94e7 5px,
            #4d94e7 8px
    );
    animation: slide 11s linear infinite;
    will-change: background-position;
}
@media only screen and (max-width: 900px) {
    .bar {
        width: 900px;
    }
}
@media only screen and (max-width: 900px) {
    .bar {
        width: 900px;
    }
}
@keyframes slide {
    from {
        background-position-x: -900px;
    }
    to {
        background-position-x: 900px;
    }
}
fieldset {
    border-color: ivory;
    word-break: break-all;
}
.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: .125rem
}
.form-check .form-check-input {
    float: left;
    margin-left: -1.5em
}
.form-check-input {
    width: 1em;
    height: 1em;
    margin-top: .10em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, .25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact
}
.form-check-input[type=checkbox] {
    border-radius: .25em
}
.form-check-input[type=radio] {
    border-radius: 50%
}
.form-check-input:active {
    filter: brightness(90%)
}
.form-check-input:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25)
}
.form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd
}
.form-check-input:disabled {
    pointer-events: none;
    filter: none;
    opacity: .5
}
.form-check-input:disabled ~ .form-check-label, .form-check-input[disabled] ~ .form-check-label {
    opacity: .5
}
#modal.modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0%;
    top: 0%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.3px);
    -webkit-backdrop-filter: blur(0.3px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
#modal .modal-window {
    /*background: rgba(69, 139, 197, 0.70);*/
    background: #fafafa;
    box-shadow: 3px 3px 3px 3px rgba(200, 200, 200, 200);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 400px;
    height: 270px;
    position: relative;
    top: -150px;
    padding: 20px;
    font-size: 12px;
    font-family: "맑은 고딕", "malgun gothic", sans-serif;
    line-height: 1.3;
}
#modal .modal-title {
    height: 20px;
    display: block;
    margin-top: 0px;
    padding-left: 0px;
    display: inline;
    /*text-shadow: 1px 1px 2px gray;*/
    color: #1a1e21;
    /*background: green;*/
}
#modal .title h2 {
    display: inline;
}
#modal .modal-content {
    height: 160px;
    display: block;
    padding-top: 10px;
    /*margin-top: 0px;*/
    /*text-shadow: 1px 1px 2px gray;*/
    color: black;
    /*background: #fd7e14;*/
}
#modal .modal-close-area {
    height: 30px;
    display: block;
    padding-top: 10px;
    /*display: inline;*/
    float: right;
    /*padding-right: 10px;*/
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: white;
    /*background: yellowgreen;*/
}
.modal-json-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0%;
    top: 0%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.3px);
    -webkit-backdrop-filter: blur(0.3px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.modal-json-window {
    /*background: rgba(69, 139, 197, 0.70);*/
    background: #fafafa;
    box-shadow: 3px 3px 3px 3px rgba(200, 200, 200, 200);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 800px;
    height: 870px;
    position: relative;
    top: 0px;
    padding: 20px;
    font-size: 12px;
    font-family: "맑은 고딕", "malgun gothic", sans-serif;
    line-height: 1.3;
}
.modal-json-title {
    height: 20px;
    display: block;
    /*margin-top: 0px;*/
    /*padding-left: 0px;*/
    display: inline;
    /*text-shadow: 1px 1px 2px gray;*/
    color: #1a1e21;
    /*background: green;*/
}
.modal-json-content {
    height: 760px;
    display: block;
    padding-top: 10px;
    /*margin-top: 0px;*/
    /*text-shadow: 1px 1px 2px gray;*/
    color: black;
    /*background: #fd7e14;*/
}
.modal-json-close-area {
    height: 30px;
    display: block;
    padding-top: 10px;
    /*display: inline;*/
    float: right;
    /*padding-right: 10px;*/
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: white;
    /*background: yellowgreen;*/
}
.modal-table-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0%;
    top: 0%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.3px);
    -webkit-backdrop-filter: blur(0.3px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.modal-table-window {
    /*background: rgba(69, 139, 197, 0.70);*/
    background: #fafafa;
    box-shadow: 3px 3px 3px 3px rgba(200, 200, 200, 200);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 93%;
    height: 800px;
    position: relative;
    top: 0px;
    padding: 20px;
    font-size: 12px;
    font-family: "맑은 고딕", "malgun gothic", sans-serif;
    line-height: 1.3;
}
.modal-table-title {
    height: 20px;
    display: block;
    /*margin-top: 0px;*/
    /*padding-left: 0px;*/
    display: inline;
    /*text-shadow: 1px 1px 2px gray;*/
    color: #1a1e21;
    /*background: green;*/
}
.modal-table-content {
    height: 680px;
    display: block;
    padding-top: 10px;
    /*margin-top: 0px;*/
    /*text-shadow: 1px 1px 2px gray;*/
    color: black;
    /*background: #fd7e14;*/
}
.modal-table-close-area {
    height: 30px;
    display: block;
    padding-top: 10px;
    /*display: inline;*/
    float: right;
    /*padding-right: 10px;*/
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: white;
    /*background: yellowgreen;*/
}
pre {
    width: 777px;
    height: 730px;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    resize: none;
    border: 1px solid #acacac;
    padding: 10px 10px 10px 10px;
    overflow-y: scroll;
}
.pre-table {
    width: 99%;
    height: 650px;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    resize: none;
    border: 1px solid #acacac;
    padding: 10px 10px 10px 10px;
    overflow-y: scroll;
}